<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript" src="/template/admin/js/ad.js"></script>


</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li>广告管理</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainList column">
    	<h1 class="slideSub" id="ad"><a<{if !$extime}> class="curr"<{/if}> href="?m=Ad&a=index">全部广告</a><a href="?m=Ad&a=index&extime=1"<{if $extime}> class="curr"<{/if}>>即将到期</a></h1>
        <div class='smfooter' style="padding-bottom:10px;"><span class='hong'>调用广告：&lt;script type='text/javascript' src='广告js地址【下面有】'&gt;&lt;/script&gt;</span></div>
    	<div class="mainHead"><a href="?m=Ad&a=add">+增加广告</a><a href="?m=Ad&a=cacheAd">更新广告缓存</a></div>
        <table cellpadding="0" cellspacing="1" border="0">
            <tr>
                <th width="7%">广告ID</th>
                <th width="12%">广告名称</th>
                <th width="7%">广告类型</th>
                <th width="11%">过期时间</th>
                <th width="15%">JS调用地址</th>
                <th width="8%">点击次数</th>
                <th width="30%">备注</th>
                <th width="10%">操作</th>
            </tr>
            <{foreach from=$ad item=v}>
            <tr>
                <td><{$v.id}></td>
                <td class="padding"><{$v.name}></td>
                <td><{$v.type}></td>
                <td><{$v.extime|date_format:'%Y-%m-%d'}></td>
                <td>/data/ad/<{$v.id}>.js</td>
                <td><{$v.click}></td>
                <td><{$v.remarks}></td>
                <td><a href="?m=Ad&a=update&id=<{$v.id}>">修改</a><a href="?m=Ad&a=delete&id=<{$v.id}>" onclick="return confirm('确定要删除此广告？');">删除</a></td>
            </tr>
            <{/foreach}>
            </form>
        </table>
    </div>
    <div class="page">共 <{$num}> 条 <{$page}></div>
</div>
</body>
</html>