<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>

</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li>日志管理</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainList">
        <table cellpadding="0" cellspacing="1" border="0">
            <tr>
                <th width="5%">ID</th>
                <th width="50%">操作内容</th>
                <th width="15%">操作时间</th>
                <th width="15%">管理员用户名</th>
                <th width="15%">操作IP</th>
            </tr>
            <{foreach from=$logData item=v}>
            <tr>
                <td><{$v.id}></td>
                <td class="padding"><{$v.content}></td>
                <td><{$v.time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
                <td><{$v.username}></td>
                <td><{$v.userip}></td>
            </tr>
            <{/foreach}>
            <tr>
            	<td>&nbsp;</td>
                <td colspan="4" class="padding"><form action="?m=Log&a=del" method="post" onsubmit="return confirm('确定要清理吗？');"><input type="submit" class="inputSub" name='dellog' value="删除日志（只保留7天内）" /></form></td>
            </tr>
        </table>
    </div>
    <div class="page"><{$page}></div>
</div>
</body>
</html>