<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$title}><{$public.global.webname_public}></title>
<meta name="keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>"/>
<link rel="stylesheet" type="text/css" href="<{$weburl}>template/default/css/style.css" />
<script type="text/javascript" src="<{$weburl}>template/default/js/jquery.js"></script>
<script type="text/javascript" src="<{$weburl}>template/default/js/main.js"></script>
</head>

<body>
<{include file='header.html'}>
<div class="navpos width">您所在的位置：<{$navpos}></div>
<div class="mainBox width">
	<div class="mainBox_l">
        <{include file='main_left.html'}>
    </div>
	<div class="mainBox_r">
    	<div class="rightBox">
        	<div class="mainRightH1"><{$classname}></div>
            <div class="newsBox">
            	<ul>
                	<{foreach from=$list item=v name=x}>
                    <li<{if count($list) eq $smarty.foreach.x.iteration}> style='border:0px;'<{/if}>><a href="<{$v.url}>"><font>·</font><{$v.title}></a><p><{$v.description}></p><span>[<{'Y-m-d'|date:$v.time}>]</span></li>
                    <{/foreach}>
                </ul>
            </div>
            <{if $page}>
            <div class="page"><{$page}></div>
            <{/if}>
        </div>
    </div>
</div>
<{include file='footer.html'}>
</body>
</html>