<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title><{$title}><{$public.global.webname_public}></title>
<meta name="keywords" content="<{$keywords}>" />
<meta name="description" content="<{$description}>"/>
<link rel="stylesheet" type="text/css" href="<{$weburl}>template/default/css/style.css" />
<script type="text/javascript" src="<{$weburl}>template/default/js/jquery.js"></script>
<script type="text/javascript" src="<{$weburl}>template/default/js/main.js"></script>
</head>

<body>
<{include file='header.html'}>
<div class="navpos width">您所在的位置：<{$navpos}></div>
<div class="mainBox width">
	<div class="mainBox_l">
        <{include file='main_left.html'}>
    </div>
	<div class="mainBox_r">
    	<div class="rightBox">
        	<div class="mainRightH1"><{$classname}></div>
            <h1 class="contentH1"><{$title}></h1>
            <{if $duotp}>
            <{forstr data=$duotp}>
            <div class="sidle_con" id="sidle_con">
                <div class="sidle_con_l">
                    <ul>
                        <{foreach from=$forstr_data item=v name=d}>
                            <li<{if $smarty.foreach.d.iteration eq 1}> style=' display:block;'<{/if}>><img src="<{$v}>" /></li>
                        <{/foreach}>
                    </ul>
                </div>
                <div class="sidle_con_r">
                  <table cellpadding="0" cellspacing="0" border="0">
                    <tr>
                      <td><img src='<{$weburl}>template/default/image/prev.gif' id='c_prev' class='sub_img' /></td>
                      <td><ul>
                          <{foreach from=$forstr_data item=v name=x}>
                            <li<{if $smarty.foreach.x.iteration eq 1}> class='dq'<{/if}>><span><img src="<{$v}>" /><em></em></span></li>
                          <{/foreach}>
                        </ul></td>
                      <td><img src='<{$weburl}>template/default/image/next.gif' id='c_next' class='sub_img' /></td>
                    </tr>
                  </table>
                </div>
            </div>
            <{/if}>
            <div class="content_h1">产品介绍</div>
            <div class="contentBox"><{$content}></div>
        </div>
    </div>
</div>
<{include file='footer.html'}>
</body>
</html>