<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li>恢复数据库</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainList column" id="allcheckbox">
    <h1 class="slideSub"><a href="?m=Backdb&a=index">备份数据</a><a href="?m=Backdb&a=backdbInList" class="curr">恢复数据</a></h1>
        <table cellpadding="0" cellspacing="1" border="0">
        <form action="?m=Backdb&a=delmorebackdb" method="post">
            <tr>
                <th width="5%">选择</th>
                <th width="40%">文件名</th>
                <th width="10%">大小</th>
                <th width="15%">备份时间</th>
                <th width="10%">分卷数量</th>
                <th width="20%">操作</th>
            </tr>
            <{foreach from=$backlist item=v}>
            <tr>
                <td><input type="checkbox" name="filename[]" value="<{$v.filename}>" /></td>
                <td class="padding"><{$v.filename}></td>
                <td><{$v.filesize}></td>
                <td><{$v.time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
                <td><{$v.fjfile|@count}></td>
                <td><a href="?m=Backdb&a=downdb&filename=<{$v.filename}>">下载</a><a href="?m=Backdb&a=backdbin&filename=<{$v.filename}>" onclick="return confirm('确定要恢复吗？');">恢复</a><a href="?m=Backdb&a=delbackdb&filename=<{$v.filename}>" onclick="return confirm('确定要删除吗？');">删除</a></td>
            </tr>
            <{/foreach}>
            <tr>
            	<td colspan="6" style="padding-left:2%; text-align:left;"><label for="allcheckbox1"><input type="checkbox"  class="allcheckbox" id="allcheckbox1" />全选</label> <input type="submit" value="批量删除" name="backdbUp" class="inputSub1" onclick="return confirm('确定要删除吗？');" />&nbsp;&nbsp;<span class="succ">备份数据库后请及时下载到本地备份，删除服务器备份，避免数据库信息泄漏</span></td>
            </tr>
        </form>
        </table>
    </div>
</div>
</body>
</html>