<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/label.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript" src="/template/admin/js/label.js"></script>
</head>

<body>
<div class="dqnav">
<ul>
    <li>当前位置：</li>
    <li><a href="?m=index&a=main">后台首页</a></li>
    <li><span>&gt;</span></li>
    <li><a href="?m=Label&a=index">模板标签说明</a></li>
</ul>
</div>
<div class="labelBox">
	<div class="labelBox_l">.
    	<div class="labelNav" id="labelNav">
        	<ul>
            	<li><span class="curr">系统和模板说明</span></li>
            	<li><span>全局变量(全站模板通用)</span></li>
            	<li><span>功能函数与标签</span></li>
                <li><span>内容调用标签</span></li>
                <li><span>栏目调用标签</span></li>
                <li><span>栏目页面变量</span></li>
                <li><span>内容页面变量</span></li>
                <li><span>搜索页面变量</span></li>
                <li><span>留言板页面变量</span></li>
                <li><span>自定义sql查询标签</span></li>
                <li><span>友情链接标签</span></li>
                <li><span>搜索关键字调用标签</span></li>
                <li><span>相关信息调用标签</span></li>
                <li><span>系统目录结构</span></li>
            </ul>
        </div>
    </div>
	<div class="labelBox_r">
    	<div class="labelBoxCon" id="labelBox0">
        	<h1>系统相关：</h1>
            <table cellpadding="0" cellspacing="1" border="0">
               <tr>
                	<td>一：本系统使用的是smarty模板引擎，版本为“2.6.28”，支持smarty内置的所有标签。</td>
               </tr>
               <tr>
               		<td>二：php的大部分函数都可直接用于变量处理，格式为 &lt;{参数1|函数名:参数2:参数3:参数4...}&gt; 即可，当然也支持自定义函数</td>
               </tr>
               <tr>
               		<td>三：如果在使用函数过程中，格式都正确，但是输出的值不是你理想中的值，那么可以尝试在“|”后加一个“@”试试。</td>
               </tr>
               <tr>
               		<td>四：系统默认标签边界符：开始：&lt;{，结束：}&gt;，&lt;{变量、标签，函数}&gt;</td>
               </tr>
               <tr>
               		<td>五：&lt;{php}&gt; php代码... &lt;{/php}&gt; ：纯php代码标签，标签里面可以直接写php代码</td>
               </tr>
               <tr>
               		<td>六：php方式调用变量可以用“$this->_tpl_vars['变量名称']”，便于在php标签里操作变量</td>
               </tr>
            </table>
            <h1>模板目录说明：</h1>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>目录、文件名</th>
                	<th>说明</th>
                	<th>默认模板文件名 （没写为自定义选择）</th>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/book/</td>
                	<td>留言板模板目录</td>
                	<td>book</td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/column/</td>
                	<td>栏目页面模板目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/content/</td>
                	<td>信息内容模板目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/search/</td>
                	<td>搜索模板目录</td>
                	<td>index.html</td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/single/</td>
                	<td>单页栏目模板目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/error.html</td>
                	<td>错误提示</td>
                	<td>error.html</td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/succ.html</td>
                	<td>成功提示</td>
                	<td>succ.html</td>
                </tr>
                <tr>
                	<td>/template/<{$public.default_temdir}>/index.html</td>
                	<td>首页模板</td>
                	<td>index.html</td>
                </tr>
            </table>
        </div>
    	<div class="labelBoxCon" id="labelBox1">
        	<h1>全局变量(全站模板通用)</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th width="20%">变量名</th>
                	<th width="80%">变量说明</th>
                </tr>
                <tr>
                	<td>&lt;{$webname}&gt;</td>
                	<td>网站名称</td>
                </tr>
                <tr>
                	<td>&lt;{$weburl}&gt;</td>
                	<td>网站地址</td>
                </tr>
                <tr>
                	<td>&lt;{$bookurl}&gt;</td>
                    <td>留言板地址</td>
                </tr>
                <tr>
                	<td>&lt;{$title}&gt;</td>
                	<td>页面所属网页标题（除首页外都有效，首页网站标题用 &lt;{$webname}&gt; 变量）</td>
                </tr>
                <tr>
                	<td>&lt;{$keywords}&gt;</td>
                	<td>页面所属网页关键词</td>
                </tr>
                <tr>
                	<td>&lt;{$description}&gt;</td>
                	<td>页面所属网页描述</td>
                </tr>
                <tr>
                	<td>&lt;{$allclass}&gt;</td>
                	<td>网站所有栏目数组（可以用 &lt;{$allclass|@print_s}&gt; 打印变量查看数据）</td>
                </tr>
                <tr>
                	<td>&lt;{$currtime}&gt;</td>
                	<td>当前服务器时间（时间戳），需要用时间函数格式化</td>
                </tr>
                <tr>
                	<td>&lt;{$navpos}&gt;</td>
                	<td>当前位置导航（栏目列表页面及信息内容页面有效）</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox2">
        	<h1>foreach</h1>
            <p class="sm">说明：同php的foreach一样，可以循环一维数组或多维数组，可以嵌套</p>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th>参数</th>
                    <th>特有变量</th>
                </tr>
                <tr>
                	<td>from：要遍历的变量 （必填）<br />item：同php格式的$value （必填）<br />key:  同php格式的$key （可选）<br />name: 用于访问foreach属性的foreach循环的名称（可选）</td>
                    <td>$smarty.foreach.（foreach的name的值）.iteration：当前foreach循环的次数<br />其他特有变量请参考smarty手册</td>
                </tr>
                <tr>
                	<th colspan="2">例子</th>
                </tr>
                <tr>
                	<td colspan="2">&lt;{foreach from=$变量名 item=v key=k name=fech}&gt;<br />&nbsp;&nbsp;&nbsp;&nbsp;&lt;a href='&lt;{$v.url}&gt;'&gt;&lt;{$v.title}&gt;&lt;/a&gt;<br />&lt;{/foreach}&gt;</td>
                </tr>
            </table>
            <h1>php ... php</h1>
            <p class="sm">纯php代码标签，里面直接写php代码即可</p>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>例子</th>
                </tr>
                <tr>
                	<td>&lt;{php}&gt; //这里就可以写纯php代码了... &lt;{/php}&gt;</td>
                </tr>
            </table>
        	<h1>strs或lmxstr</h1>
            <p class="sm">说明：文字字数截取</p>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th>例子</th>
                </tr>
                <tr>
                	<td>&lt;{$title|lmxstr:10}&gt; 截取标题10个汉字或者字母</td>
                </tr>
            </table>
            <h1>classurl</h1>
            <p class="sm">返回的栏目链接地址字符串 数据无需任何处理 会直接输出</p>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>参数</th>
                </tr>
                <tr>
                	<td>id：栏目id</td>
                </tr>
                <tr>
                	<th>例子</th>
                </tr>
                <tr>
                	<td>&lt;{classurl id=73}&gt;</td>
                </tr>
            </table>
        	<h1>date_format或date</h1>
            <p class="sm">说明：格式化时间</p>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th>例子</th>
                </tr>
                <tr>
                	<td>例子一：&lt;{时间戳变量|date_format:'%Y-%m-%d %H:%M:%S'}&gt; 即可显示 0000-00-00 00:00:00 这样的格式时间(年月日时分秒)</td>
                </tr>
                <tr>
                	<td>例子二：php内置时间函数“date”格式化时间：&lt;{'Y-m-d H:i:s'|date:$currtime}&gt;，格式：&lt;{'(时间格式)'|date:时间戳变量}&gt;</td>
                </tr>
            </table>
            <h1>hanmore</h1>
            <p class="sm">说明：处理多图片或者多文件并返回数组</p>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th width="25%">参数</th>
                	<th width="75%">返回变量名字</th>
                </tr>
                <tr>
                	<td>data：相对应的字段变量名</td>
                	<td>$hanmore_data （一维数组）查看数据结构&lt;{$hanmore_data|@print_s}&gt; <b>遍历用foreach标签</b></td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox3">
        	<h1>content</h1>
            <p class="sm">说明：根据栏目id调用信息内容</p>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th>参数</th>
                    <th>说明</th>
                    <th>默认值</th>
                </tr>
                <tr>
                	<td>classid</td>
                	<td>栏目id</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>num</td>
                	<td>数量</td>
                	<td>10</td>
                </tr>
                <tr>
                	<td>order</td>
                	<td>排序方式</td>
                	<td>id desc</td>
                </tr>
                <tr>
                	<td>where</td>
                	<td>附加sql语句</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>remen</td>
                	<td>热门信息级别</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>tuijian</td>
                	<td>推荐信息级别</td>
                	<td>空</td>
                </tr>
                <tr>
                	<th colspan="3">备注</th>
                </tr>
                <tr>
                	<td colspan="3">返回的数据变量名：$content_data（二维数组）查看数据结构&lt;{$content_data|@print_s}&gt;  <b>遍历用foreach标签</b></td>
                </tr>
                <tr>
                	<th colspan="3">例子：调用栏目id为5下的热门信息5条</th>
                </tr>
                <tr>
                	<td colspan="3">
                    	&lt;{content classid=5 num=5 remen=1}&gt; <br />
                        &lt;{foreach from=$content_data item=v}&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="&lt;{$v.url}&gt;"&gt;&lt;{$v.title}&gt;&lt;/a&gt;<br />
                        &lt;{/foreach}&gt;
                    </td>
                </tr>
                <tr>
                	<th>变量名</th>
                	<th colspan="2">变量说明</th>
                </tr>
                <tr>
                	<td>id</td>
                    <td colspan="2">信息id</td>
                </tr>
                <tr>
                	<td>title</td>
                    <td colspan="2">信息标题</td>
                </tr>
                <tr>
                	<td>url</td>
                    <td colspan="2">信息地址</td>
                </tr>
                <tr>
                	<td>description</td>
                    <td colspan="2">描述</td>
                </tr>
                <tr>
                	<td>time</td>
                    <td colspan="2">发布时间“需要用时间格式化函数”，具体看“<a href="javascript:posBox(2,2)">date_format或date标签”</a></td>
                </tr>
                <tr>
                	<td>????</td>
                    <td colspan="2">其他自定义字段</td>
                </tr>
                <tr>
                	<td>classid</td>
                    <td colspan="2">信息所属栏目id</td>
                </tr>
                <tr>
                	<td>classname</td>
                    <td colspan="2">信息所属栏目名称</td>
                </tr>
                <tr>
                	<td>classurl</td>
                    <td colspan="2">信息所属栏目链接</td>
                </tr>
                <tr>
                	<td>classimage</td>
                    <td colspan="2">信息所属栏目图片地址</td>
                </tr>
                <tr>
                	<td>mname</td>
                    <td colspan="2">信息所属栏目模型名字</td>
                </tr>
                <tr>
                	<td>mid</td>
                    <td colspan="2">信息所属栏目模型id</td>
                </tr>
                <tr>
                	<td>parent_classid</td>
                    <td colspan="2">信息所属栏目父栏目id</td>
                </tr>
                <tr>
                	<td>parent_classname</td>
                    <td colspan="2">信息所属栏目父栏目名字</td>
                </tr>
                <tr>
                	<td>parent_classimage</td>
                    <td colspan="2">信息所属栏目父栏目图片地址</td>
                </tr>
                <tr>
                	<td>parent_classurl</td>
                    <td colspan="2">信息所属栏目父栏目地址</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox4">
        	<h1>column</h1>
            <p class="sm">说明：栏目调用</p>
        	<table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<th>参数</th>
                    <th>说明</th>
                    <th>默认值</th>
                </tr>
                <tr>
                	<td>classid</td>
                	<td>栏目id（空为全部栏目、0为所有顶级栏目、其他为子栏目）</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>num</td>
                	<td>数量</td>
                	<td>全部栏目</td>
                </tr>
                <tr>
                	<td>order</td>
                	<td>排序方式</td>
                	<td>sort desc</td>
                </tr>
                <tr>
                	<td>level</td>
                	<td>任意值可调用classid下的所有子栏目</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>where</td>
                	<td>附加sql语句</td>
                	<td>空</td>
                </tr>
                <tr>
                	<th colspan="3">备注</th>
                </tr>
                <tr>
                	<td colspan="3">返回的数据变量名：$column_data （二维数组或者多维数组） 查看数据结构&lt;{$column_data|@print_s}&gt;  <b>遍历用foreach标签</b></td>
                </tr>
                <tr>
                	<th colspan="3">例子：调用栏目id为5下的所有子栏目</th>
                </tr>
                <tr>
                	<td colspan="3">
                    	&lt;{column classid=5 level=1}&gt; <br />
                        &lt;{foreach from=$column_data item=v}&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;a href="&lt;{$v.classurl}&gt;"&gt;&lt;{$v.classname}&gt;&lt;/a&gt;<br />
                        &lt;{/foreach}&gt;
                    </td>
                </tr>
                <tr>
                	<th>变量名</th>
                	<th colspan="2">变量说明</th>
                </tr>
                <tr>
                	<td>classid</td>
                    <td colspan="2">栏目id</td>
                </tr>
                <tr>
                	<td>classname</td>
                    <td colspan="2">栏目名称</td>
                </tr>
                <tr>
                	<td>classurl</td>
                    <td colspan="2">栏目链接</td>
                </tr>
                <tr>
                	<td>uid</td>
                    <td colspan="2">父栏目id</td>
                </tr>
                <tr>
                	<td>classtype</td>
                    <td colspan="2">栏目类型：0为普通栏目 1为单页栏目 3为外部链接</td>
                </tr>
                <tr>
                	<td>images</td>
                    <td colspan="2">栏目图片地址</td>
                </tr>
                <tr>
                	<td>child</td>
                    <td colspan="2">当前栏目的子栏目数组[一维或者多维]可用foreach嵌套循环</td>
                </tr>
                <tr>
                	<td>???</td>
                    <td colspan="2">其他变量请自行查看数据结构 &lt;{$column_data|@print_s}&gt;</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox5">
        	<h1>当前栏目相关</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>&lt;{$classid}&gt;</td>
                	<td>当前栏目id</td>
                </tr>
                <tr>
                	<td>&lt;{$classname}&gt;</td>
                	<td>当前栏目名字</td>
                </tr>
                <tr>
                	<td>&lt;{$classurl}&gt;</td>
                	<td>当前栏目链接地址</td>
                </tr>
                <tr>
                	<td>&lt;{$classimage}&gt;</td>
                	<td>当前栏目图片地址</td>
                </tr>
                <tr>
                	<td>&lt;{$singlecontent}&gt;</td>
                	<td>当前单页栏目内容(如果是单页栏目情况下)</td>
                </tr>
                <tr>
                	<td>&lt;{$page}&gt;</td>
                	<td>翻页</td>
                </tr>
            </table>
            <h1>当前栏目父栏目相关 ，没有父栏目以下变量全部是空的</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>&lt;{$parent_classid}&gt;</td>
                	<td>当前栏目父栏目id</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_classname}&gt;</td>
                	<td>当前栏目父栏目名字</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_classurl}&gt;</td>
                	<td>当前栏目父栏目链接地址</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_classimage}&gt;</td>
                	<td>当前栏目父栏目图片地址</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_singlecontent}&gt;</td>
                	<td>当前栏目父栏目单页内容(如果是单页栏目情况下)</td>
                </tr>
            </table>
            <h1>信息相关</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<td class="level1" colspan="2">信息数组变量名：“$listdata”二维数组 当前栏目以及子栏目当前分页下的所有文章的数组（用foreach遍历即可得到信息列表）</td>
                </tr>
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>id</td>
                	<td>信息id</td>
                </tr>
                <tr>
                	<td>title</td>
                	<td>信息标题</td>
                </tr>
                <tr>
                	<td>url</td>
                	<td>信息链接地址</td>
                </tr>
                <tr>
                	<td>keywords</td>
                	<td>信息关键词</td>
                </tr>
                <tr>
                	<td>description</td>
                	<td>信息描述</td>
                </tr>
                <tr>
                	<td>time</td>
                	<td>信息布时间“需要用时间格式化函数”，具体看“<a href="javascript:posBox(2,2)">date_format或date标签</a>”</td>
                </tr>
                <tr>
                	<td>tuijian</td>
                	<td>信息推荐级别</td>
                </tr>
                <tr>
                	<td>remen</td>
                	<td>信息热门级别</td>
                </tr>
                <tr>
                	<td>classname</td>
                	<td>信息所属栏目名称</td>
                </tr>
                <tr>
                	<td>classurl</td>
                	<td>信息所属栏目链接地址</td>
                </tr>
                <tr>
                	<td>classid</td>
                	<td>信息所属栏目id</td>
                </tr>
                <tr>
                	<td>classimage</td>
                	<td>信息所属栏目图片地址</td>
                </tr>
                <tr>
                	<td>parent_classid</td>
                	<td>信息所属栏目的父栏目id</td>
                </tr>
                <tr>
                	<td>parent_classname</td>
                	<td>信息所属栏目的父栏目名称</td>
                </tr>
                <tr>
                	<td>parent_classurl</td>
                	<td>信息所属栏目的父栏目链接地址</td>
                </tr>
                <tr>
                	<td>parent_classimage</td>
                	<td>信息所属栏目的父栏目图片地址</td>
                </tr>
                <tr>
                	<td>mname</td>
                	<td>信息所属模型名称</td>
                </tr>
                <tr>
                	<td>mid</td>
                	<td>信息所属模型id</td>
                </tr>
                <tr>
                	<td>????</td>
                	<td>信息其他自定义字段</td>
                </tr>
                <tr>
                	<th colspan="2">信息列表循环例子</th>
                </tr>
            	<tr>
                	<td colspan="2">
                    &lt;ul&gt;<br />
                    &lt;{foreach from=$listdata item=v}&gt;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="&lt;{$v.url}&gt;"&gt;&lt;{$v.title}&gt;&lt;/a&gt;&lt;/li&gt;<br />
                    &lt;{/foreach}&gt;<br />
                    &lt;/ul&gt;
                    </td>
                </tr>
            </table>
            </div>
        <div class="labelBoxCon" id="labelBox6">
        	<h1>信息变量</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>&lt;{$id}&gt;</td>
                	<td>信息id</td>
                </tr>
                <tr>
                	<td>&lt;{$title}&gt;</td>
                	<td>信息标题</td>
                </tr>
                <tr>
                	<td>&lt;{$time}&gt;</td>
                	<td>信息布时间“需要用时间格式化函数”，具体看“<a href="javascript:posBox(2,2)">date_format或date标签</a>”</td>
                </tr>
                <tr>
                	<td>&lt;{$tuijian}&gt;</td>
                	<td>信息推荐级别</td>
                </tr>
                <tr>
                	<td>&lt;{$remen}&gt;</td>
                	<td>信息热门级别</td>
                </tr>
                <tr>
                	<td>&lt;{$content}&gt;</td>
                	<td>信息正文“如果没删除该字段的话”</td>
                </tr>
                <tr>
                	<td>????</td>
                	<td>信息其他自定义字段</td>
                </tr>
            </table>
            <h1>当前信息所属栏目相关</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>&lt;{$classid}&gt;</td>
                	<td>当前信息所属栏目id</td>
                </tr>
                <tr>
                	<td>&lt;{$classname}&gt;</td>
                	<td>当前信息所属栏目名字</td>
                </tr>
                <tr>
                	<td>&lt;{$classurl}&gt;</td>
                	<td>当前信息所属栏目链接地址</td>
                </tr>
                <tr>
                	<td>&lt;{$classimage}&gt;</td>
                	<td>当前信息所属栏目图片地址</td>
                </tr>
            </table>
            <h1>当前信息所属栏目父栏目相关 ，没有父栏目以下变量全部是空的</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>&lt;{$parent_classid}&gt;</td>
                	<td>当前信息所属栏目父栏目id</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_classname}&gt;</td>
                	<td>当前信息所属栏目父栏目名字</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_classurl}&gt;</td>
                	<td>当前信息所属栏目父栏目链接地址</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_classimage}&gt;</td>
                	<td>当前信息所属栏目父栏目图片地址</td>
                </tr>
                <tr>
                	<td>&lt;{$parent_singlecontent}&gt;</td>
                	<td>当前信息所属栏目父栏目单页内容(如果是单页栏目情况下)</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox7">
        	<h1>搜索相关</h1>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>&lt;{$title}&gt;</td>
                	<td>搜索关键字</td>
                </tr>
                <tr>
                	<td>&lt;{$num}&gt;</td>
                	<td>总共搜索到的条数</td>
                </tr>
                <tr>
                	<td>&lt;{$page}&gt;</td>
                	<td>翻页</td>
                </tr>
                <tr>
                	<th colspan="2">备注：</th>
                </tr>
                <tr>
                	<td colspan="2">默认模板为“index”</td>
                </tr>
            </table>
            <h1>信息相关</h1>
        	<table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<td class="level1" colspan="2">信息数组变量名：“$search_data”二维数组 当前分页下的所有文章的数组（用foreach遍历即可得到信息列表）</td>
                </tr>
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>id</td>
                	<td>信息id</td>
                </tr>
                <tr>
                	<td>title</td>
                	<td>信息标题</td>
                </tr>
                <tr>
                	<td>url</td>
                	<td>信息链接地址</td>
                </tr>
                <tr>
                	<td>keywords</td>
                	<td>信息关键词</td>
                </tr>
                <tr>
                	<td>description</td>
                	<td>信息描述</td>
                </tr>
                <tr>
                	<td>time</td>
                	<td>信息布时间“需要用时间格式化函数”，具体看“<a href="javascript:posBox(2,2)">date_format或date标签</a>”</td>
                </tr>
                <tr>
                	<td>tuijian</td>
                	<td>信息推荐级别</td>
                </tr>
                <tr>
                	<td>remen</td>
                	<td>信息热门级别</td>
                </tr>
                <tr>
                	<td>classname</td>
                	<td>信息所属栏目名称</td>
                </tr>
                <tr>
                	<td>classurl</td>
                	<td>信息所属栏目链接地址</td>
                </tr>
                <tr>
                	<td>classid</td>
                	<td>信息所属栏目id</td>
                </tr>
                <tr>
                	<td>classimage</td>
                	<td>信息所属栏目图片地址</td>
                </tr>
                <tr>
                	<td>classuid</td>
                	<td>信息所属栏目的父栏目id</td>
                </tr>
                <tr>
                	<td>mname</td>
                	<td>信息所属模型名称</td>
                </tr>
                <tr>
                	<td>mid</td>
                	<td>信息所属模型id</td>
                </tr>
                <tr>
                	<td>????</td>
                	<td>信息其他自定义字段</td>
                </tr>
                <tr>
                	<th colspan="2">信息列表循环例子</th>
                </tr>
            	<tr>
                	<td colspan="2">
                    &lt;ul&gt;<br />
                    &lt;{foreach from=$listdata item=v}&gt;<br />
                    &nbsp;&nbsp;&nbsp;&nbsp;&lt;li&gt;&lt;a href="&lt;{$v.url}&gt;"&gt;&lt;{$v.title}&gt;&lt;/a&gt;&lt;/li&gt;<br />
                    &lt;{/foreach}&gt;<br />
                    &lt;/ul&gt;
                    </td>
                </tr>
            </table>
            <h1>搜索表单相关</h1>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<td class="level1" colspan="4">表单字段说明</td>
                </tr>
                <tr>
                	<th>字段名称</th>
                	<th>字段说明</th>
                	<th>是否必填</th>
                	<th>默认值</th>
                </tr>
                <tr>
                	<td>m</td>
                	<td>模块名,不可修改</td>
                	<td>是</td>
                	<td>Search</td>
                </tr>
                <tr>
                	<td>a</td>
                	<td>方法名，不可修改</td>
                	<td>是</td>
                	<td>index</td>
                </tr>
                <tr>
                	<td>mid</td>
                	<td>按照模型id搜索</td>
                	<td>mid和classid必填其中一个</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>classid</td>
                	<td>按照栏目id搜索</td>
                	<td>mid和classid必填其中一个</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>tem</td>
                	<td>搜索所使用的模板</td>
                	<td>选填</td>
                	<td>index</td>
                </tr>
                <tr>
                	<td>ischild</td>
                	<td>是否搜索子栏目信息</td>
                	<td>选填</td>
                	<td>否</td>
                </tr>
                <tr>
                	<td>field</td>
                	<td>要搜索的字段</td>
                	<td>选填</td>
                	<td>title</td>
                </tr>
                <tr>
                	<td>time</td>
                	<td>搜索距离现在时间多少天之内的信息</td>
                	<td>选填</td>
                	<td>/inc/config.inc.php中设置</td>
                </tr>
                <tr>
                	<td>tuijian</td>
                	<td>信息推荐级别</td>
                	<td>选填</td>
                	<td>全部</td>
                </tr>
                <tr>
                	<td>remen</td>
                	<td>信息热门级别</td>
                	<td>选填</td>
                	<td>全部</td>
                </tr>
                <tr>
                	<td>keywords</td>
                	<td>搜索关键字</td>
                	<td>根据/inc/config.inc.php中设置是否必填</td>
                	<td>根据自己需要</td>
                </tr>
            	<tr>
                	<td class="level1" colspan="4">表单html代码示例，表单发送方式为get方式，暂不支持post，（请根据上面字段说明调整表单结构和表现形式）“表单代码可放在任何模板”</td>
                </tr>
                <tr>
                	<td colspan="4">
                    	&lt;form action="&lt;{$weburl}&gt;index.php" method="get"&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name='m' value="Search" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="a" value="index" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="mid" value="37" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="classid" value="73" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="tem" value="index" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="ischild" value="1" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="field" value="title,keywords,description" /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="time" value=100 /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="tuijian" value=0 /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="hidden" name="remen" value=0 /&gt;<br />
                        关键字：&lt;input type="text" name="keywords" /&gt;&lt;br /&gt;<br />
                        &nbsp;&nbsp;&nbsp;&nbsp;&lt;input type="submit" value="提交" /&gt;<br />
                        &lt;/form&gt;
                    </td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox8">
        	<h1>信息变量</h1>
            <table cellpadding="0" cellspacing="1" border="0">
                <tr>
                	<td class="level1" colspan="2">信息数组变量名：“$book_data”二维数组 当前分页下的所有留言和回复的数组（用foreach遍历即可得到信息列表）</td>
                </tr>
            	<tr>
                	<th>变量名</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>id</td>
                	<td>留言id</td>
                </tr>
                <tr>
                	<td>name</td>
                	<td>留言者姓名</td>
                </tr>
                <tr>
                	<td>ip</td>
                	<td>留言者ip</td>
                </tr>
                <tr>
                	<td>content</td>
                	<td>留言内容</td>
                </tr>
                <tr>
                	<td>mail</td>
                	<td>留言者邮箱</td>
                </tr>
                <tr>
                	<td>tel</td>
                	<td>留言者电话</td>
                </tr>
                <tr>
                	<td>time</td>
                	<td>留言时间“需要用时间格式化函数”，具体看“<a href="javascript:posBox(2,2)">date_format或date标签</a>”</td>
                </tr>
                <tr>
                	<td>reply_id</td>
                	<td>管理回复id</td>
                </tr>
                <tr>
                	<td>reply_name</td>
                	<td>回复留言的管理员用户名</td>
                </tr>
                <tr>
                	<td>reply_time</td>
                	<td>管理回复时间</td>
                </tr>
                <tr>
                	<td>reply_content</td>
                	<td>管理回复内容</td>
                </tr>
                <tr>
                	<td>&lt;{$page}&gt;</td>
                	<td>翻页</td>
                </tr>
                <tr>
                	<th colspan="2">循环遍历留言信息例子</th>
                </tr>
                <tr>
                	<td colspan="2">
                    	&lt;div&gt;<br />
                    	&nbsp;&nbsp;&lt;{foreach from=$book_data item=v}&gt;<br />
                        	&nbsp;&nbsp;&lt;h1&gt;留言姓名：&lt;{$v.name}&gt; 留言时间：&lt;{'Y-m-d H:i:s'|date:$v.time}&gt;&lt;/h1&gt;<br />
                            &nbsp;&nbsp;&lt;p&gt;留言内容：&lt;{$v.content}&gt;&lt;/p&gt;<br />
                            &nbsp;&nbsp;&lt;div&gt;管理回复：&lt;{$v.reply_content}&gt;&lt;/div&gt;<br />
                        &nbsp;&nbsp;&lt;{/foreach}&gt;<br />
                        &lt;/div&gt;<br />
                    </td>
                </tr>
            </table>
            <h1>留言表单html代码</h1>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<td colspan="3" class="level1">表单说明</td>
                </tr>
                <tr>
                	<th>字段名</th>
                	<th>说明</th>
                	<th>是否必填</th>
                </tr>
                <tr>
                	<td>name</td>
                	<td>留言者用户名</td>
                	<td>必填</td>
                </tr>
                <tr>
                	<td>mail</td>
                	<td>留言者邮箱</td>
                	<td>选填</td>
                </tr>
                <tr>
                	<td>tel</td>
                	<td>留言者电话</td>
                	<td>选填</td>
                </tr>
                <tr>
                	<td>content</td>
                	<td>留言内容</td>
                	<td>必填</td>
                </tr>
                <tr>
                	<td>setbook</td>
                	<td>提交按钮</td>
                	<td>必填</td>
                </tr>
                <tr>
                	<th colspan="3">表单代码例子</th>
                </tr>
                <tr>
                	<td colspan="3">
                    	&lt;form action='/index.php?m=Book&a=setBook' method='post'&gt;<br />
                            &nbsp;&nbsp;&lt;ul&gt;<br />
                            &nbsp;&nbsp;&lt;li&gt;名字*：&lt;input type='text' name='name' /&gt;&lt;/li&gt;<br />
                            &nbsp;&nbsp;&lt;li&gt;邮箱：&lt;input type='text' name='mail' /&gt;&lt;/li&gt;<br />
                            &nbsp;&nbsp;&lt;li&gt;电话：&lt;input type='text' name='tel' /&gt;&lt;/li&gt;<br />
                            &nbsp;&nbsp;&lt;li&gt;内容*：&lt;textarea name='content'&gt;&lt;/textarea&gt;&lt;/li&gt;<br />
                            &nbsp;&nbsp;&lt;input type='submit' name='setbook'  value='提交留言'/&gt;<br />
                            &nbsp;&nbsp;&lt;/ul&gt;<br />
                        &lt;/form&gt;
                    </td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox9">
        	<h1>select</h1>
            <p class="sm">说明：自定义sql查询语句，支持任意查询sql，基于安全考虑，只支持select语句，不支持insert delete update等语句
表前缀使用[pre]</p>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>参数</th>
                	<th>说明</th>
                </tr>
                <tr>
                	<td>sql</td>
                	<td>完整的sql语句，表前缀使用“[pre]”</td>
                </tr>
                <tr>
                	<th colspan="2">例子</th>
                </tr>
                <tr>
                	<td colspan="2">
                    	&lt;{select sql="select * from [pre]ad"}&gt;
                    </td>
                </tr>
                <tr>
                	<th colspan="2">备注</th>
                </tr>
                <tr>
                	<td colspan="2">返回的数据变量名：$select_data（二维数组）查看数据结构&lt;{$select_data|@print_s}&gt; <b>遍历用foreach标签</b></td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox10">
        	<h1>link</h1>
            <p class="sm">说明：友情链接调用标签</p>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>参数</th>
                	<th>说明</th>
                	<th>默认值</th>
                </tr>
                <tr>
                	<td>type</td>
                	<td>调用数据类型：空为全部，1为文字链接，2为图片链接</td>
                	<td>空</td>
                </tr>
                <tr>
                	<td>order</td>
                	<td>排序方式</td>
                	<td>sort desc</td>
                </tr>
                <tr>
                	<td>num</td>
                	<td>调用数量</td>
                	<td>全部</td>
                </tr>
                <tr>
                	<th colspan="3">备注</th>
                </tr>
                <tr>
                	<td colspan="3">返回的数据变量名：$link_data  （二维数组）查看数据结构&lt;{$link_data|@print_s}&gt; <b>遍历用foreach标签</b></td>
                </tr>
                <tr>
                	<th colspan="3">例子</th>
                </tr>
                <tr>
                	<td colspan="3">
                    	&lt;{link num=10 order='id desc'}&gt;<br />
                        &lt;ul&gt;<br />
                        &lt;{foreach from=$link_data item=v}&gt;<br />
                        &nbsp;&nbsp;&lt;li&gt;&lt;a href="&lt;{$v.url}&gt;"&gt;&lt;{$v.name}&gt;&lt;/a&gt;&lt;/li&gt;<br />
                        &lt;{/foreach}&gt;<br />
                        &lt;/ul&gt;
                    </td>
                </tr>
                <tr>
                	<th>变量名</th>
                    <th colspan="2">说明</th>
                </tr>
                <tr>
                	<td>name</td>
                	<td colspan="2">链接名称</td>
                </tr>
                <tr>
                	<td>url</td>
                	<td colspan="2">链接地址</td>
                </tr>
                <tr>
                	<td>img</td>
                	<td colspan="2">链接图片地址</td>
                </tr>
                <tr>
                	<td>id</td>
                	<td colspan="2">链接id</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox11">
        	<h1>searchkey</h1>
            <p class="sm">说明：搜索关键字调用标签</p>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>参数</th>
                	<th>说明</th>
                	<th>默认值</th>
                </tr>
                <tr>
                	<td>num</td>
                	<td>调用数量</td>
                	<td>10</td>
                </tr>
                <tr>
                	<td>order</td>
                	<td>排序方式 信息数量可以用：length(infoid) desc</td>
                	<td>click desc</td>
                </tr>
                <tr>
                	<th colspan="3">备注</th>
                </tr>
                <tr>
                	<td colspan="3">返回的数据变量名：$searchkey_data （二维数组）查看数据结构&lt;{$xglink_data|@print_s}&gt; <b>遍历用foreach标签</b></td>
                </tr>
                <tr>
                	<th colspan="3">例子</th>
                </tr>
                <tr>
                	<td colspan="3">
                    	&lt;{searchkey num=5}&gt;<br />
                        &lt;ul&gt;<br />
                        &lt;{foreach from=$searchkey_data item=v}&gt;<br />
                        &nbsp;&nbsp;&lt;li&gt;&lt;a href="&lt;{$v.url}&gt;"&gt;&lt;{$v.keywords}&gt;&lt;/a&gt;&lt;/li&gt;<br />
                        &lt;{/foreach}&gt;<br />
                        &lt;/ul&gt;
                    </td>
                </tr>
                <tr>
                	<th>变量名</th>
                	<th colspan="2">说明</th>
                </tr>
                <tr>
                	<td>searchid</td>
                    <td colspan="2">关键字id</td>
                </tr>
                <tr>
                	<td>keywords</td>
                    <td colspan="2">关键字</td>
                </tr>
                <tr>
                	<td>url</td>
                    <td colspan="2">关键字链接</td>
                </tr>
                <tr>
                	<td>num</td>
                    <td colspan="2">信息条数</td>
                </tr>
                <tr>
                	<td>click</td>
                    <td colspan="2">搜索次数</td>
                </tr>
                <tr>
                	<td>time</td>
                    <td colspan="2">最后搜索时间</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox12">
        	<h1>xglink</h1>
            <p class="sm">说明：相关信息调用标签，该标签只能在信息内容页面使用，并且它根据信息的keywords也就是关键词在查找跟该信息吻合的信息</p>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>参数</th>
                	<th>说明</th>
                	<th>默认</th>
                </tr>
                <tr>
                	<td>num</td>
                	<td>调用数量</td>
                	<td>10</td>
                </tr>
                <tr>
                	<th colspan="3">备注</th>
                </tr>
                <tr>
                	<td colspan="3">返回的数据变量名：$xglink_data （二维数组）查看数据结构&lt;{$xglink_data|@print_s}&gt;  <b>遍历用foreach标签</b></td>
                </tr>
                <tr>
                	<th colspan="3">例子</th>
                </tr>
                <tr>
                	<td colspan="3">
                    	&lt;{xglink num=5}&gt;<br />
                        &lt;ul&gt;<br />
                    	&lt;{foreach from=$xglink_data item=v}&gt;<br />
                        	&nbsp;&nbsp;&lt;li&gt;&lt;a href="&lt;{$v.url}&gt;"&gt;&lt;{$v.title}&gt;&lt;/a&gt;&lt;/li&gt;<br />
                        &lt;{/foreach}&gt;<br />
                        &lt;/ul&gt;<br />
                    </td>
                </tr>
                <tr>
                	<td>变量名</td>
                	<td colspan="2">说明</td>
                </tr>
                <tr>
                	<td>id</td>
                	<td colspan="2">信息id</td>
                </tr>
                <tr>
                	<td>title</td>
                	<td colspan="2">信息标题</td>
                </tr>
                <tr>
                	<td>url</td>
                	<td colspan="2">信息链接地址</td>
                </tr>
                <tr>
                	<td>classid</td>
                	<td colspan="2">栏目所属id</td>
                </tr>
                <tr>
                	<td>tuijian</td>
                	<td colspan="2">信息推荐级别</td>
                </tr>
                <tr>
                	<td>remen</td>
                	<td colspan="2">信息热门级别</td>
                </tr>
                <tr>
                	<td>time</td>
                	<td colspan="2">信息布时间“需要用时间格式化函数”，具体看“<a href="javascript:posBox(2,2)">date_format或date标签</a>”</td>
                </tr>
                <tr>
                	<td>???</td>
                	<td colspan="2">信息其他自定义字段</td>
                </tr>
                <tr>
                	<td>classname</td>
                	<td colspan="2">信息所属栏目名称</td>
                </tr>
                <tr>
                	<td>classurl</td>
                	<td colspan="2">信息所属栏目链接地址</td>
                </tr>
                <tr>
                	<td>classimage</td>
                	<td colspan="2">信息所属栏目图片地址</td>
                </tr>
            </table>
        </div>
        <div class="labelBoxCon" id="labelBox13">
        	<h1>系统目录结构</h1>
            <table cellpadding="0" cellspacing="1" border="0">
            	<tr>
                	<th>目录</th>
                    <th>说明</th>
                    <th>操作权限(应用到所有子目录及文件)</th>
                </tr>
                <tr>
                	<td>/c</td>
                	<td>系统控制器目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/m</td>
                	<td>系统模块目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/cache</td>
                	<td>smarty静态缓存文件目录</td>
                	<td style="color:#f00;">0777</td>
                </tr>
                <tr>
                	<td>/class</td>
                	<td>系统功能类目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/compile</td>
                	<td>smarty编译文件目录，包括“前台和后台”</td>
                	<td style="color:#f00;">0777</td>
                </tr>
                <tr>
                	<td>/data</td>
                	<td>系统缓存文件目录</td>
                	<td style="color:#f00;">0777</td>
                </tr>
                <tr>
                	<td>/file</td>
                	<td>系统所有文件、图片存放目录</td>
                	<td style="color:#f00;">0777</td>
                </tr>
                <tr>
                	<td>/function</td>
                	<td>系统和用户自定义函数存放目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/inc</td>
                	<td>系统配置文件目录</td>
                	<td style="color:#f00;">0777</td>
                </tr>
                <tr>
                	<td>/smarty</td>
                	<td>smarty模板引擎主目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/template</td>
                	<td>系统模板目录</td>
                	<td style="color:#f00;">0777</td>
                </tr>
                <tr>
                	<td>/ueditor</td>
                	<td>ueditor编辑器主目录</td>
                	<td></td>
                </tr>
                <tr>
                	<td>/other</td>
                	<td>其他目录</td>
                	<td></td>
                </tr>
            </table>
        </div>
    </div>
</div>
</body>
</html>