<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li>信息管理</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainList" id="allcheckbox">
    	<div class="contentListSearchBox"><form method="get" class="right_form" action=""><p>搜索：
        <input type="hidden" name="m" value="Search" />
        <input type="hidden" name="a" value="search" />
        <input type="text" class="inputText inputText1" name="keywords" value='<{$keywords}>' />
        <input type="hidden" name="field" value="title,keywords,description" />
        <select name="mid">
        <{foreach from=$allModData item=i}>
            <option value=<{$i.mid}><{if $modData.mid eq $i.mid}> selected<{/if}>><{$i.mname}></option>
        <{/foreach}>
        </select>
        <select name="classid">
        	<option value="0">不限栏目</option>
        <{foreach from=$selectData item=i}>
            <option value=<{$i.classid}><{if $classData.classid eq $i.classid}> selected<{/if}>><{$i.html}><{$i.classname}></option>
        <{/foreach}>
        </select>
        <select name="attr">
        	<option value="0">不限</option>
            <option value="1"<{if $attr eq 1}> selected<{/if}>>热门</option>
            <option value="2"<{if $attr eq 2}> selected<{/if}>>推荐</option>
        </select>
        <select name="time">
        	<option value="0"<{if $time eq 0}> selected<{/if}>>全部时间</option>
        	<option value="1"<{if $time eq 1}> selected<{/if}>>1天</option>
        	<option value="2"<{if $time eq 2}> selected<{/if}>>2天</option>
        	<option value="3"<{if $time eq 3}> selected<{/if}>>7天</option>
        	<option value="4"<{if $time eq 4}> selected<{/if}>>一个月</option>
        	<option value="5"<{if $time eq 5}> selected<{/if}>>三个月</option>
        	<option value="6"<{if $time eq 6}> selected<{/if}>>半年</option>
        	<option value="7"<{if $time eq 7}> selected<{/if}>>一年</option>
        </select>
        <input type="submit" name="searchSub" class="inputSub1" value="搜索" />
        </p></form></div>
    	<div class="mainHead"><form method="get" action="">
        <span class="succ" style="margin-left:20px;">选择栏目：</span><select name="classid">
        <{foreach from=$selectData item=i}>
            <option value=<{$i.classid}><{if $classData.classid eq $i.classid}> selected<{/if}>><{$i.html}><{$i.classname}></option>
        <{/foreach}>
        </select>
        <input type="hidden" name="m" value="Content" />
        <input type="hidden" name="a" value="add" />
        <input type="submit" class="inputSub1" value="+增加信息" />
        </form>
        </div>
        <table cellpadding="0" cellspacing="1" border="0">
            <tr>
            	<th width="5">选择</th>
                <th width="5%">信息ID</th>
                <th width="35%">标题</th>
                <th width="15%">属性</th>
                <th width="10%">所属栏目</th>
                <th width="15%">发布时间</th>
                <th width="15%">操作</th>
            </tr>
            <form method="post" action="?m=Content&a=infoManage">
                <input type="hidden" name="classid" value="<{$classData.classid}>" />
            <{foreach from=$listInfo item=v}>
            <tr>
            	<td><input type="checkbox" value="<{$v.id}>" name="id[]" /></td>
                <td><{$v.id}></a></td>
                <td class="padding"><a href="<{$v.url}>" target="_blank"><{$v.title}></a></td>
                <td><{if $v.tuijian}><span class="hong">[<{$tuijianSelect[$v.tuijian]}>]</span><{/if}><{if $v.remen}><span class="hong">[<{$remenSelect[$v.remen]}>] </span><{/if}><{if !$v.remen && !$v.tuijian}>无<{/if}></td>
                <td><{$allclass[$v.classid].classname}></td>
                <td><{$v.time|date_format:"%Y-%m-%d %H:%M:%S"}></td>
                <td><a href="?m=Content&a=update&id=<{$v.id}>&classid=<{$v.classid}>">修改</a><a href="?m=Content&a=delete&id=<{$v.id}>&classid=<{$v.classid}>" onclick="return confirm('确定要删除此信息？');">删除</a></td>
            </tr>
            <{/foreach}>
            <tr>
            	<td width="5%"><input type="checkbox" class="allcheckbox" /></td>
                <td width="95%" colspan="6" class="padding">
                <input type="submit" value="删除" onclick="return confirm('确定要删除这些信息？');" class="inputSub1" name="deleteInfo" />
                <select name="tuijian">
                <option value=0>不推荐</option>
                <{foreach from=$tuijianSelect item=v key=k}>
                <option value=<{$k}>><{$v}></option>
                <{/foreach}>
                </select>
                <input type="submit" value="推荐" class="inputSub1" name="tuijianInfo" />
                <select name="remen">
                <option value=0>不推荐</option>
                <{foreach from=$remenSelect item=v key=k}>
                <option value=<{$k}>><{$v}></option>
                <{/foreach}>
                </select>
                <input type="submit" value="热门" class="inputSub1" name="remenInfo" />
                </td>
            </tr>
            </form>
        </table>
    </div>
    <div class="page">共 <{$num}> 条 <{$page}></div>
</div>
</body>
</html>