<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>lmxcms网站管理系统首页 - 免费开源无授权</title>
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript">
	setTimeout("redirect('<{$url}>')",<{$time}>);
</script>	
</head>
<body class='errorBody'>
    <div class="error">
    	<h1>错误提示</h1>
        <h2><{$str}></h2>
        <p><a href="<{$url}>">如果浏览器没有自动返回，请点击这里</a></p>
    </div>
</body>
</html>
