<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript" src="/template/admin/js/column.js"></script>


</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li><a href="?m=Column&a=index">栏目管理</a></li>
	<li><span>&gt;</span></li>
	<li>修改栏目</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainForm" id="mainForm">
        <form action="?&m=Column&a=update" method="post" name="form1">
    	<table cellpadding="0" border="0" cellspacing="0">
        	<tr>
                <th colspan="2">基本设置</th>
            </tr>
        	<tr>
            	<td width="12%" align="right">栏目名称：</td>
            	<td width="88%"><input type="text" class="inputText" name="classname" value="<{$classname}>" id="classname" /></td>
            </tr>
        	<tr>
            	<td align="right">栏目类型：</td>
            	<td><select name="classtype" id="classtype" disabled="disabled">
                	<option value=0<{if $classtype eq 0}> selected="selected"<{/if}>>普通栏目</option>
                    <option value=1<{if $classtype eq 1}> selected="selected"<{/if}>>单页栏目</option>
                    <option value=2<{if $classtype eq 2}> selected="selected"<{/if}>>外部链接栏目</option>
                </select> <span class="succ">不可修改</span></td>
            </tr>
       </table>
       <{if $classtype eq 0 || $classtype eq 1}>
       <table cellpadding="0" border="0" cellspacing="0" class="display0 columnK">
             <tr>
            	<td align="right" width="12%">所属模块：</td>
            	<td width="88%"><select name="mid" id="mid">
                <{foreach from=$moduleList item=i}>
                <option value=<{$i.mid}><{if $i.mid eq $mid}> selected="selected"<{/if}>><{$i.mname}></option>
                <{/foreach}>
                </select></td>
            </tr>
       </table>
       <{/if}>
       <table cellpadding="0" border="0" cellspacing="0">
        	<tr>
            	<td align="right" width="12%">上级栏目：</td>
            	<td width="88%"><select name="uid" id="uid">
                	<option value=0 data-path='/'<{if $uid eq 0}> selected="selected"<{/if}>>作为顶级栏目</option>
                	<{foreach from=$classList item=i}>
                    <option value=<{$i.classid}><{if $i.classid eq $uid}> selected="selected"<{/if}> data-path='<{$i.classpath}>'><{$i.html}><{$i.classname}></option>
                    <{/foreach}>
                </select></td>
            </tr>
        </table>
        <{if $classtype eq 1}>
        <table cellpadding="0" border="0" cellspacing="0" class="display1 columnK">
            <tr>
                <td width="12%" align="right">单页文件名：</td>
                <td width="88%"><span id="singlespanInput" class="spanInputText">根目录/</span><input type="hidden" name="singleparentPath" id="singleparentPath" value="<{php}>echo dirname($this->_tpl_vars['classpath']) == '.' ? '/' : dirname($this->_tpl_vars['classpath']);<{/php}>" /><input type="text" style="border-right:0px;" class="inputText spanInput inputWidth" name="singlepath" value="<{$classpath}>" id="singlepath" /><span class="qspanInputText">.html</span> <input type="button" class="inputSub1" value="生成拼音文件名" id="scSingleFile" /> <input type="button" class="inputSub1" id="isFile" value="检查文件是否存在" /> <span class="succ">由字母、数字、下划线构成</span></td>
            </tr>
        </table>
        <{/if}>
        <{if $classtype eq 0}>
        <table cellpadding="0" border="0" cellspacing="0" class="display0 columnK">
            <tr>
                <td width="12%" align="right">本栏目目录：</td>
                <td width="88%"><span id="spanInput" class="spanInputText">根目录/</span><input type="hidden" name="parentPath" id="parentPath" value="<{php}>echo dirname($this->_tpl_vars['classpath']) == '.' ? '/' : dirname($this->_tpl_vars['classpath']);<{/php}>" /><input type="text" class="inputText spanInput inputWidth" name="classpath" id="classpath" value="<{$classpath}>" /> <input type="button" class="inputSub1" id="scDir" value="生成拼音目录" /> <input type="button" class="inputSub1" value="检查目录是否存在" id="isDir" /><span class="succ">由字母、数字、下划线、“/”构成</span></td>
            </tr>
        </table>
        <{/if}>
        <table cellpadding="0" border="0" cellspacing="0">
            <tr>
                <td width="12%" align="right">栏目图片：</td>
                <td width="88%"><input type="text" name="images" id="images" value="<{$images}>" class="inputText inputWidth" /> <input type="button" class="inputSub1" value="选择图片" onclick="selectUpload(1,'file/cate','images');" /></td>
            </tr>
        </table>
        <{if $classtype eq 0}>
        <table cellpadding="0" border="0" cellspacing="0">
            <tr>
                <td width="12%" align="right">每页显示信息：</td>
                <td width="88%"><input type="text" class="inputText" name="pagenum" value="<{$pagenum}>" style="width:30px; text-align:center;" /> 条</td>
            </tr>
        </table>
        <{/if}>
        <{if $classtype eq 0}>
        <table cellpadding="0" border="0" cellspacing="0">
             <tr>
                <td width="12%" align="right">是否为分页列表：</td>
                <td width="88%"><label for="islist1"><input type="radio" <{if $islist eq 1}> checked="checked"<{/if}> name="islist" value="1" id="islist1" />是</label> <label for="islist0"><input type="radio" id="islist0" name="islist" value="0" <{if $islist eq 0}> checked="checked"<{/if}> />否</label> <span class="succ">是：栏目页面支持数据分页，否：栏目页面为封面页、栏目首页，不支持数据分页</span></td>
            </tr>
        </table>
        <{/if}>
        <table cellpadding="0" border="0" cellspacing="0">
            <tr>
                <td width="12%" align="right">前台是否隐藏：</td>
                <td width="88%"><input type="checkbox" name="display" value="1"<{if $display}> checked<{/if}> /></td>
            </tr>
        </table>
        <{if $classtype eq 2}>
        <table cellpadding="0" border="0" cellspacing="0" class="display2 columnK">
        	<tr>
            	<td width="12%" align="right">外部链接：</td>
            	<td width="88%"><input type="text" class="inputText" name="classurl" id="classurl" value="<{$classurl}>" /> <span class="succ">http://开头</span></td>
            </tr>
        </table>
        <{/if}>
        <{if $classtype eq 0}>
        <table cellpadding="0" border="0" cellspacing="0" class="display0 columnK">
            <tr>
                <th colspan="2">模板设置</th>
            </tr>
            <tr>
            	<td width="12%" align="right">栏目模板：</td>
            	<td width="88%"><select name="listtem" id="listtem">
                <option value=0>选择栏目模板</option>
                <{foreach from=$listTemFile item=v}>
                <option value="<{$v}>"<{if $listtem eq $v}> selected="selected"<{/if}>><{$v}></option>
                <{/foreach}>
                </select></td>
            </tr>
            <tr>
            	<td align="right">内容模板：</td>
            	<td><select name="contem" id="contem">
                <option value=0>选择内容模板</option>
                <{foreach from=$contentTemFile item=v}>
                <option value="<{$v}>"<{if $contem eq $v}> selected="selected"<{/if}>><{$v}></option>
                <{/foreach}>
                </select></td>
            </tr>
            <tr>
            	<td align="right">搜索模板：</td>
            	<td><select name="searchtem" id="searchtem">
                <option value=0>选择搜索模板</option>
                <{foreach from=$searchTemFile item=v}>
                <option value="<{$v}>"<{if $searchtem eq $v}> selected="selected"<{/if}>><{$v}></option>
                <{/foreach}>
                </select></td>
            </tr>
        </table>
        <{/if}>
        <{if $classtype eq 1}>
        <table cellpadding="0" border="0" cellspacing="0" class="display1 columnK">
            <tr>
                <th colspan="2">模板设置</th>
            </tr>
            <tr>
            	<td width="12%" align="right">单页模板：</td>
            	<td width="88%"><select name="singletem" id="singletem">
                <option value=0>选择单页模板</option>
                <{foreach from=$singleTemFile item=v}>
                <option value="<{$v}>"<{if $singletem eq $v}> selected="selected"<{/if}>><{$v}></option>
                <{/foreach}>
                </select></td>
            </tr>
        </table>
        <{/if}>
        <{if $classtype eq 0 || $classtype eq 1}>
        <table cellpadding="0" border="0" cellspacing="0" class="display0 columnK_seo columnK">
            <tr>
                <th colspan="2">SEO设置</th>
            </tr>
            <tr>
            	<td width="12%" align="right">网页标题：</td>
            	<td width="88%"><input type="text" class="inputText inputWidth" name="title" value="<{$title}>" id="title" /> <span class="succ">META Title</span> <span class="hui">最多255个字符</span></td>
            </tr>
            <tr>
            	<td align="right">网页关键词：</td>
            	<td><input type="text" class="inputText inputWidth" value="<{$keywords}>" name="keywords" id="keywords" /> <span class="succ">META Keywords</span> <span class="hui">关键词以“,”号隔开</span></td>
            </tr>
            <tr>
            	<td align="right">网页描述：</td>
            	<td><textarea class="textarea" name="description"><{$description}></textarea> <span class="succ">META Description <span class="hui">针对搜索引擎设置的网页描述</span></span></td>
            </tr>
        </table>
        <{/if}>
        <table cellpadding="0" border="0" cellspacing="0">
            <tr>
            	<td width="12%" align="right">排序：</td>
            	<td width="88%"><input type="text" class="inputText" value="<{$sort}>" style="width:30px; text-align:center;" name="sort" /> <span class="succ">值越大排序越前</span></td>
            </tr>
        </table>
        <{if $classtype eq 1}>
        <table cellpadding="0" border="0" cellspacing="0" class="display1 columnK">
            <tr>
                <th>单页内容</th>
            </tr>
            <tr>
            	<td><{$editor}></td>
            </tr>
        </table>
        <{/if}>
        <table cellpadding="0" border="0" cellspacing="0">
            <tr>
                <td width="10%">&nbsp;</td>
                <td width="90%"><input type="hidden" name="classtype" value="<{$classtype}>" /><input type="hidden" name="classid" value="<{$classid}>" /><input type="submit" value="提交" class="inputSub" name="updateColumn" id="addColumn" /></td>
            </tr>
        </table>
        </form>
    </div>
</div>
</body>
</html>