<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript" src="/template/admin/js/book.js"></script>


</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li>留言板管理</li>
</ul>
</div>
<div class="mainBox">
    <div class="mainList column">
        <div class="smfooter" style="padding-bottom:10px;"><span class="hong">留言板前台地址：<a href='/index.php?m=Book&a=index' target="_blank" style="color:#f00;">/index.php?m=Book&a=index</a></span></div>
        <table cellpadding="0" cellspacing="1" border="0">
            <tr>
                <th width="5%">ID</th>
                <th width="25%">留言者信息</th>
                <th width="25%">留言信息</th>
                <th width="25%">回复</th>
                <th width="20%">操作</th>
            </tr>
            <{foreach from=$book item=v}>
            <tr>
                <td><{$v.id}></td>
                <td class="padding"><ul class="table_ul">
                	<li>姓名：<{$v.name}></li>
                    <li>邮箱：<{$v.mail}></li>
                    <li>电话：<{$v.tel}></li>
                    <li>ＩＰ：<{$v.ip}></li>
                    <li>时间：<{$v.time|date_format:'%Y-%m-%d %H:%M:%S'}></li>
                </ul></td>
                <td><{$v.content}></td>
                <td><{if $v.isreply}><span class='hong'>管理(<{$v.username}>)回复：</span><{$v.replycon}><{else}><span class='hong'>暂无回复</span><{/if}></td>
                <td><{if $v.ischeck}><a href='?m=Book&a=check&check=0&id=<{$v.id}>'>取消审核</a><{else}><a href='?m=Book&a=check&check=1&id=<{$v.id}>'>审核</a><{/if}><a href="?m=Book&a=reply&id=<{$v.id}>"><{if $v.isreply}>修改回复<{else}>回复<{/if}></a><a href="?m=Book&a=delete&id=<{$v.id}><{if $v.isreply}>&isreply=1<{/if}>" onclick="return confirm('确定要删除此留言？');">删除</a></td>
            </tr>
            <{/foreach}>
        </table>
    </div>
    <div class="page">共 <{$num}> 条 <{$page}></div>
</div>
</body>
</html>