<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>

</head>

<body>
<div class="dqnav">
<ul>
	<li>当前位置：</li>
	<li><a href="?m=index&a=main">后台首页</a></li>
	<li><span>&gt;</span></li>
	<li><a href="?m=Template&a=index">模板管理</a></li>
	<li><span>&gt;</span></li>
	<li><a href="?m=Template&a=opendir&dir=<{$dir}>">查看模板文件</a></li>
</ul>
</div>
<div class="mainBox">
    <div class="mainList">
        <table cellpadding="0" cellspacing="1" border="0">
            <tr>
            	<th colspan="4"><div class="parent_dir"><{if $parent && $parent != '.'}><a href="?m=Template&a=opendir&dir=<{$parent}>" class="parent">上级目录</a><{/if}><{foreach from=$dirlist item=v}><a href="?m=Template&a=opendir&dir=<{$dir}>/<{$v}>"><{$v}></a><{/foreach}></div></th>
            </tr>
            <tr>
                <th width="40%">文件名</th>
                <th width="20%">更新时间</th>
                <th width="20%">文件大小</th>
                <th width="20%">操作</th>
            </tr>
            <{foreach from=$filelist item=v}>
            <tr>
                <td class="padding"><{$v.name}></td>
                <td><{$v.time|date_format:'%Y-%m-%d %H:%M:%S'}></td>
                <td><{$v.size}></td>
                <td><{if $v.type == 1}><a href='/<{$v.imagepath}>' target='_blank'>查看图片</a><{else}><a href="?m=Template&a=editfile&dir=<{$dir}>/<{$v.name}>">编辑</a><{/if}></td>
            </tr>
            <{/foreach}>
        </table>
    </div>
</div>
</body>
</html>