<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript" src="/template/admin/js/content.js"></script>
</head>

<body>
<div class="mainBox">
    <div class="mainForm" id="mainForm">
        <div class="uploadBox">
            <h1 class="slideSub"><a href="<{$upload_url}>">上传文件</a><span class="curr">文件列表</span></h1>
            <div class="mainUploadFileBoxOk">
            	<h3>上传成功文件</h3>
                <div class="fileborder">
            	<table cellpadding="0" cellspacing="0" border="0" class="selectfilelist" id="selectfile">
                	<tr>
                    	<th width="10%">选择</th>
                        <th>原始名字</th>
                        <th>新名字</th>
                    </tr>
                    <{foreach from=$list item=v}>
                    <tr>
                    	<td><input type="checkbox" value="<{$v.path}>" onclick='selectFileF(<{$ismore}>,this);' /></td>
                        <td><{$v.temname}></td>
                        <td><{$v.name}></td>
                    </tr>
                    <{/foreach}>
                </table>
                <{if $page}>
                <div class="page"><{$page}></div>
                <{/if}>
                </div>
                <div class="okSub"><input type="button" class="inputSub1" onclick="okSelectFile('<{$selectid}>',<{$ismore}>);" value="确定选择" /> <input type="button" class="inputSub1" onclick="closeSelect();" value="关闭" /></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>