<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link type="text/css" rel="stylesheet" href="/template/admin/css/style.css" />
<script type="text/javascript" src="/template/admin/js/jquery.js"></script>
<script type="text/javascript" src="/template/admin/js/main.js"></script>
<script type="text/javascript" src="/template/admin/js/content.js"></script>
</head>

<body>
<div class="mainBox">
    <div class="mainForm" id="mainForm">
        <div class="uploadBox">
            <h1 class="slideSub"><a href="<{$backurl}>">上传图片</a><span class="curr">图片列表</span></h1>
            <div class="mainUploadImgListBox">
            	<ul id="selectfile">
                	<{foreach from=$list item=v}>
                    <li onclick='selectFile(<{$ismore}>,this);'><img src='<{$v.path}>' /><em></em><{if $v.issmall}><b>缩略图</b><{/if}></li>
                    <{/foreach}>
                </ul>
                <{if $page}>
                <div class="page"><{$page}></div>
                <{/if}>
                <div class="okSub"><input type="button" class="inputSub1" onclick="okSelect('<{$selectid}>',<{$ismore}>);" value="确定选择" /> <input type="button" class="inputSub1" onclick="closeSelect();" value="关闭" /></div>
            </div>
        </div>
    </div>
</div>
</body>
</html>